<h1><%= @ingredient.name %></h1>

<h3>Recipes including <%= @ingredient.name %>:</h3>

<ul>
    <% @ingredient.recipes.each do |recipe| %>
        <%=link_to recipe.name, recipe_path(recipe) %>
    <% end %>    
</ul>


<%= link_to "Edit", edit_ingredient_path(@ingredient) %> | <%= link_to "All Ingredients", ingredients_path %>